html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  /* background-color: #113a5d; */
}

#coin {
  width: 100%;
  color: #a09e9e;
  height: 50px;
  font-size: 18px;
  overflow-x: hidden;
  white-space: nowrap;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 40px;
}
.link {
  color: #204969;
  font-size: 18px;
  text-decoration: none;
}

.bi-arrow-right,
.bi-arrow-left {
  margin: 4px;
}

li {
  display: inline;
  margin-right: 10px;
  align-self: center;
}

.address-finder {
  float: right;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step {
  color: #dadada;
  font-size: 30px;
}

.input {
  border-radius: 20px;
  border: 2px solid #b1dcd9;
  height: 40px;
  padding: 15px;
}

.clear {
  /* background-color: #edfff5; */
  background-color: #b1dcd9;
  margin-left: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid #b1dcd9;
  height: 40px;
  color: #062743;
}

.clear:hover {
  background-color: #e5f2f2;
}
.tx {
  margin-top: 30px;
}

label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-center {
  display: flex;
  justify-content: center;
}

.empty-input {
  display: flex;
  justify-content: center;
  color: red;
  margin-top: 10px;
}
.hide {
  visibility: hidden;
}
.all-buttons {
  justify-content: center;
  width: 50%;
}
.btn {
  margin: 5px;
  padding: 10px;
  width: 150px;
  height: 100px;
  border-radius: 20px;
  /* background-color: #ebf5ef; */
  background-color: #d2e5e4;
  /* border: 1px solid #062743; */

  color: #062743;
}
.btn:hover {
  background-color: #b1dcd9;
  border: 1px solid #b1dcd9;
  color: #062743;
}

.new-tab {
  color: brown;
}
/* .button-inner {
  display: block;
} */
