html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#coin {
  width: 100%;
  color: #a09e9e;
  height: 50px;
  font-size: 18px;
  /* margin-bottom: 10px; */
  overflow-x: hidden;
  white-space: nowrap;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 40px;
}
.link {
  color: #204969;

  font-size: 18px;
  /* margin-right: 20px; */
  text-decoration: none;
}

.bi-arrow-right,
.bi-arrow-left {
  margin: 4px;
}
/* ul {
  align-self: center;
} */
li {
  display: inline;
  margin-right: 10px;
  align-self: center;
}

.address-finder {
  float: right;
}

.step {
  color: #dadada;
  font-size: 30px;
}

.input-group {
  border-radius: 20px;
  border-color: #08ffc8;
  height: 40px;
}

.clear {
  background-color: #edfff5;
  margin-left: 10px;
  width: 100px;
  border-radius: 20px;
  border-color: #08ffc8;
  height: 40px;
}
.tx {
  margin-top: 30px;
}

label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-center {
  display: flex;
  justify-content: center;
}
.empty-input {
  display: flex;
  justify-content: center;
  color: red;
}

.hide {
  visibility: hidden;
}
.all-buttons {
  /* display: flex; */

  justify-content: center;
  width: 50%;
  /* flex-wrap: wrap; */
}
.btn {
  margin: 5px;
  padding: 10px;
  width: 150px;
  height: 100px;
  border-radius: 20px;
}
